.header {
    border-bottom: 1px solid rgb(242, 245, 249);
    background: rgb(253, 253, 253);
    padding-bottom: 12px;
}
.header_content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
}

.header_logo_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header_center_info_search_content {
  display: flex;
  padding: 0 20px;
}

.header_content_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_center_info_search_content-input {
  border: none;
  background: #f2f5f9;
  padding: 0 0 0 10px;
  border-radius: 0 10px 10px 0;
  width: 576px;
  transition: width 0.5s;
  box-sizing: border-box;
}

.header_logo-text {
  font-family: Verdana;
  font-size: 34.62px;
  font-weight: 700;
  line-height: 42.07px;
  text-align: left;
  text-decoration: none;
  color: black;
}

.header-logo-info {
  width: 153px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.header_center_info_search_catalog {
  background-color: #ff4d4d;
  padding: 16px 20px 16px 20px;
  gap: 8px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  line-height: 20px;
  text-align: left;
  color: white;
  border-radius: 10px 0 0 10px;
}

.header_nav-icon {
  margin: 0;
  padding: 5px;
}

.header_nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 0;
  background: #f2f5f9;
}

.header_nav {
  display: flex;
  gap: 10px;
}

.phonePanel_section {
    visibility: hidden;
    position: absolute;
}

@media screen and (max-width: 375px) {
  .header_info {
    display: flex;
    flex-direction: column;
  }

    .phonePanel_section {
        visibility: visible;
        position: fixed;
        z-index: 1;
        bottom: 0;
    }
    .categories_button {
        visibility: hidden;
        display: none;
    }

  .header_nav {
    visibility: hidden;
  }
  .header_center_info_search_catalog {
    visibility: hidden;
    box-sizing: none;
    display: none;
  }
  .header_content_info {
    flex-direction: column;
  }
  .header_logo_content {
    flex-direction: column;
  }
  .header_center_info_search_content-input {
    padding: 10px 40px;
    border-radius: 10px;
  }
  .header_center_info_search_content-input {
    width: 150px;
  }
}
@media screen and (max-width: 375px) {
  .header_info {
    display: flex;
    flex-direction: column;
  }
  .header_info__left_block-text {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
}
