.main {
  color: #7e8794;
}

.groupOfProducts_content_search_navs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.groupOfProducts_content_search-title {
  font-size: 35px;
}

/* src/styles.css */
.custom-checkbox {
  display: none;
}

.custom-checkbox-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: orange; /* синий цвет */
  border-radius: 50%; /* круглый */
  cursor: pointer;
  border: 1px solid orange;
  text-align: center;
  line-height: 20px;
  color: white; /* белый текст */
}

.custom-checkbox:checked + .custom-checkbox-label {
  background-color: white; /* белый фон */
  color: orange; /* синий текст */
}

.groupOfProducts_content_search_fillter_price_selections_block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.groupOfProducts_content_search_fillter_price_selections_block-text {
  font-size: 14px;
}

.groupOfProducts_content_search_fillter {
  border: 1px solid #f2f5f9;
  padding: 25px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background: #fdfdfd;
  border-radius: 10px;
}
.groupOfProducts_content_search_fillter-title {
  margin: 0;
}

.groupOfProducts_content_search_fillter_price_text {
  font-size: 30px;
  font-weight: 200;
}

.groupOfProducts_content_search {
  padding: 20px 0;
}

.groupOfProducts_content_search_fillter_price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupOfProducts_content_search_fillter_price_selections {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.groupOfProducts_content_objects_object {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #e9e9e9;
  background: #fdfdfd;
  border-radius: 10px;
}

.groupOfProducts_content_objects_object_info_advantage_title {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
  justify-content: space-between;
}

.groupOfProducts_content_objects_object_info_advantage-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.groupOfProducts_content_objects_object_info_advantage-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.groupOfProducts_content_objects_object_info_advantage_info_block1-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.groupOfProducts_content_objects_object_info_advantage_info {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  gap: 60px;
}

.groupOfProducts_content_objects_object_info_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.groupOfProducts_content_objects_object_info_button {
  border: none;
  background: transparent;
  padding: 0 10px;
}

.groupOfProducts_content_objects_object_info_advantage_info_block1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.groupOfProducts_content_objects_object_info_advantage_info_block2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupOfProducts_content_objects_object-img {
  width: 250px;
}

.groupOfProducts_content_objects_object {
  padding: 0 20px;
}

.groupOfProducts_content_objects_object_info_button {
  cursor: pointer;
}

.groupOfProducts_content_objects_object_characteristics_button {
  padding: 13px 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #ff4d4d;
  cursor: pointer;
}

.groupOfProducts_content_objects_object_characteristics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.groupOfProducts_content_objects {
  display: grid;
  gap: 20px;
  padding: 0 0 20px 0;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (max-width: 700px) {
  .groupOfProducts_content_objects_object {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .groupOfProducts_content_objects_object_info_advantage_info_block2 {
    display: none;
    visibility: hidden;
  }

  .groupOfProducts_content_objects_object_info_advantage-name {
    font-size: 18px;
  }
  .groupOfProducts_content_objects_object_info_advantage-price {
    font-size: 18px;
  }

  .groupOfProducts_content_objects_object_info_advantage_title {
    flex-direction: column;
  }
}
