body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding: 20px 0 0 0;
}

.container {
  padding: 0 80px;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  text-decoration: none;
}

p {
  margin: 0;
}
@media screen and (max-width: 375px) {
  .container {
    margin: 0;
    padding: 0 30px;
  }
}
