body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding: 20px 0 0 0;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding-inline: 32px;
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  text-decoration: none;
}
text {
  text-decoration: none;
}

p {
  margin: 0;
}
@media screen and (max-width: 375px) {
  .container {
    margin: 0;
    padding: 0 30px;
  }
}
