.header_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.header_info_left_block {
    padding: 20px 9% 20px 20px;
    background: #f2f5f9;
    border-radius: 16px;
}
.header_info_right_block {
    padding: 20px 9% 20px 20px;
    background: #f2f5f9;
    border-radius: 16px;
}

.div_for_orange {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header_info_left_block-content {
    display: flex;
    flex-direction: column;
}

.header_info__left_block-text {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    gap: 20px;
    font-weight: 800;
    line-height: 72px;
    padding: 0;
    margin: 0;
}
.orange_header_text {
    color: #ff4d4d;
    font-size: 32px;
    font-weight: 800;
    line-height: 72px;
    padding: 0;
    margin: 0;
}

.header_info__right_block-text {
    font-size: 32px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 72px;
}

.header_info_left_block-button {
    padding: 15px 40px;
    background: #ff4d4d;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.header_info_right_block-button {
    padding: 15px 40px;
    background: #ff4d4d;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 375px) {
    .header_info {
        display: flex;
        flex-direction: column;
    }
    .header_center_info_search_content-input {
        padding: 10px 40px;
        border-radius: 10px;
    }

    .header_info__left_block-text{
      flex-direction: column;
    }
    .div_for_orange{
      flex-direction: column;
    }
}
