.header_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.header_info_left_block {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 300px;
  padding: 20px;
  background: #f2f5f9;
  border-radius: 16px;
}
.header_info_right_block {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background: #f2f5f9;
  border-radius: 16px;
}

.div_for_orange {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header_info_left_block-content {
  display: flex;
  flex-direction: column;
}

.header_info__left_block-text {
  display: flex;
  flex-direction: row;
  font-size: 42px;
  gap: 20px;
  font-weight: 800;
  line-height: 72px;
  padding: 0;
  margin: 0;
}
.orange_header_text {
  color: #ff4d4d;
  font-size: 32px;
  font-weight: 800;
  line-height: 72px;
  padding: 0;
  margin: 0;
}

.header_info__right_block-text {
  font-size: 32px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 72px;
}

.header_info_left_block-button {
  max-width: 500px;
  padding: 15px 40px;
  background: #ff4d4d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.header_info_right_block-button {
  max-width: 300px;
  padding: 15px 40px;
  background: #ff4d4d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 375px) {
  .header_info_left_block {
    padding: 0 20px 20px;
  }
  .header_info_right_block {
    padding: 0 20px 20px;
  }
  .header_info {
    display: flex;
    flex-direction: column;
    padding: 0 0 30px;
  }
  .header_center_info_search_content-input {
    padding: 10px 40px;
    border-radius: 10px;
  }

  .header_info__left_block-text {
    flex-direction: column;
  }
  .header_info__right_block-text {
    flex-direction: column;
  }
  .div_for_orange {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1435px) {
  .header_info__left_block-text {
    font-size: 30px;
  }
  .header_info__right_block-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 1155px) {
  .header_info__left_block-text {
    font-size: 20px;
  }
  .orange_header_text {
    font-size: 20px;
    height: 30px;
  }
  .header_info__right_block-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1010px) {
  .header_info__left_block-text {
    display: flex;
    gap: 1px;
    height: 48px;
  }
  .header_info__right_block-text {
    display: flex;
    gap: 1px;
    height: 48px;
  }

  .header_info_left_block-button {
    font-size: 15px;
    height: 50px;
    margin: 80px 0 0;
  }
  .header_info_right_block-button {
    font-size: 15px;
    height: 50px;
    margin: 110px 0 0;
  }
}
@media screen and (max-width: 720px) {
  .header_info {
    display: flex;
    flex-direction: column;
  }
  .header_info_right_block {
    max-width: 750px;
  }
  .header_info_left_block {
    max-width: 750px;
  }
}
